# vim: ft=yaml
# yamllint disable rule:comments-indentation
---
######################################################################
# Mind that this is to be read as an overview of available
# settings which can be set in many different ways, not only
# by providing pillar values.
# The different sources will be merged. For further information,
# please see the docs, https://lkubb.github.io/saltext-formula/
# as well as the configured default sources in `parameters/map_jinja.yaml`.
######################################################################

# Apart from the various source files, there are two independent source trees
# for user-specific configuration.
# Generally tool_firefox > tool_global.
# `tool_global` focuses on specific users, of which most values
# will be respected by all formulae in the `tool` suite:
tool_global:
  users:

      # The following is global configuration for the user named `user`.
    user:

        # Sync this user's config from a dotfiles repo.
        # The available paths and their priority can be found in the
        # rendered `config/sync.sls` file.
        # Note that for user matching to work, you need to install `saltext-formula`.
        # Overview in descending priority:
        # salt://dotconfig/id/<minion_id>/users/<user>/firefox
        # salt://dotconfig/id/<minion_id>/firefox
        # salt://dotconfig/roles/<each custom `role` config>/users/firefox
        # salt://dotconfig/roles/<each custom `role` config>/firefox
        # salt://dotconfig/os_family/<os_family>/users/<user>/firefox
        # salt://dotconfig/os_family/<os_family>/firefox
        # salt://dotconfig/users/<user>/firefox
        # salt://dotconfig/default/firefox
      dotconfig:              # can be bool or mapping
        file_mode: '0600'     # default: keep destination or salt umask (new)
        dir_mode: '0700'      # default: 0700
        clean: false          # delete files in target. default: false

        # Persist environment variables used by this formula for this
        # user to this file (will be appended to a file relative to $HOME)
      persistenv: '.config/zsh/zshenv'

        # Add runcom hooks specific to this formula to this file
        # for this user (will be appended to a file relative to $HOME)
      rchook: '.config/zsh/zshrc'

        # This user's configuration for this formula. Will be overridden by
        # user-specific configuration in `tool_firefox:users`.
        # Set this to `false` to disable configuration for this user.
      firefox:
          # If arkenfox is selected as userjs, this customizes the installation.
        arkenfox:
            # Run cleanPrefs after each upgrade.
            # This will need to stop Firefox when run.
          autoclean_prefs: true
            # Activate common overrides automatically.
          override:
              # Use the URL bar to search with the default search engine as well.
            autosearch: false
              # Enable DRM.
            drm: false
              # Save form data and enable autofill.
            form_autofill: false
              # Keep history.
            history_keep: false
              # When RFP is enabled, disable letterboxing.
            letterboxing_disabled: false
              # Reset referrer privacy to default (always send).
            referrer_always: false
              # Disable RFP (resist fingerprint).
              # https://github.com/arkenfox/user.js/wiki/3.3-Overrides-%5BTo-RFP-or-Not%5D
              # If this is true, leaving WebGL disabled does not provide much benefit.
            rfp_disabled: false
              # Safe Browsing: Enable remote lookups of downloads.
            safe_browsing_download_remote_lookup: false
              # Restore sessions on startup. Disables history clearing on close.
            session_restore: false
              # Disable strict certificate pinning.
            strict_pinning_disabled: false
              # Enable WebGL.
            webgl: false
            # Specify custom overrides as name: value mapping.
            # The value will be JSON-encoded.
          override_custom:
            some.other.firefox.pref: value
          # You can specify a direct download of a default `user.js`
          # for your default profile (atm) or use arkenfox user.js.
          # For the latter, just set it to the string "arkenfox".
          # For the former, this can be just the url as a string
          # (no hash check -> unsafe) or a mapping of hash and source like this:
        userjs:
          hash: a395ed35ea2bfbaf8c3f99383df46ec4f358d6e8cac3a9638d896ce8f210bd71
          source: https://raw.githubusercontent.com/arkenfox/user.js/master/user.js

tool_firefox:

  # When using policies.json on Linux, there is only one global policy file,
  # therefore these settings have to be global there. User-specific settings with
  # policies are possible on MacOS afaik where policies are installed via a profile.
  # This is not implemented atm and does not extend to extension settings.
  #################################################################################################
    # Which Firefox version to install:
    # esr, stable, dev, nightly, beta
  version: esr

  extensions:
      # List of extensions that should not be installed.
    absent:
      - tampermonkey

      # Defaults for extension installation settings
    defaults:
      installation_mode: normal_installed
      updates_disabled: false

    local:
        # When marking extensions as local, use this path on the minion to look for
        # `<extension>.xpi` by default.
      source: /opt/firefox_addons
        # When using local source, sync extensions automatically from the fileserver.
        # You will need to provide the extensions as
        # `tool_firefox/addons/<tofs_grain>/<extension>.xpi`
      sync: true

      # List of extensions that are to be installed. When using policies, can also
      # be specified there manually, but this provides convenience. See
      # `tool_firefox/parameters/defaults.yaml` for a list of available extensions under
      # `lookup:extension_data`. Of course, you can also specify your own on top.
    wanted:
      - bitwarden
        # If you want to override defaults, you can specify them
        # in a mapping like this:
      - ublock-origin:
          installation_mode: force_installed
        # If you don't want an extension to be loaded from the Mozilla Addon Store,
        # but rather from a local directory specified in
        # `extensions:defaults:local_source`, set local to true and make sure to
        # provide e.g. `metamask.xpi` in there:
      - metamask:
          local: true

    # This is where you specify enterprise policies.
    # See https://github.com/mozilla/policy-templates for available settings.
  policies:
    DisableTelemetry: true
    NoDefaultBookmarks: true
    OverrideFirstRunPage: about:blank
    OverridePostUpdatePage: about:blank

    # Default formula configuration for all users.
  defaults:
    userjs: default value for all users

    # User configuration can also be specified here in
    # `tool_firefox:users`. It will override
    # configuration sourced from `tool_global:users`.
  users:
    user:
      persistenv: '.bash_profile'
      firefox:
        userjs: this overrides config from tool_globl:users

######################################################################
# The following settings define default values for this formula,
# depending on different grains. You should not have to modify them
# in most cases. For a full overview, see the different files
# in `parameters`.
# This is where you can specify custom extension data though.
######################################################################
  lookup:
    rootgroup: root
    extension_data:
      ublock-origin:
        id: uBlock0@raymondhill.net
        data:
          install_url: https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi  # yamllint disable-line rule:line-length

######################################################################
# The following settings influence which source paths are considered
# when managing files (TOFS pattern).
# See docs/TOFS_pattern.rst and https://lkubb.github.io/saltext-formula/
######################################################################
  tofs:
    # The files_switch key serves as a selector for alternative
    # directories under the formula files directory. See TOFS pattern
    # doc for more info.
    # Note: Any value not evaluated by `config.get` will be used literally.
    # This can be used to set custom paths, as many levels deep as required.
    files_switch:
      - any/path/can/be/used/here
      - id
      - roles
      - osfinger
      - os
      - os_family
